<div class="entry form-group shadow-textarea">
  <form class="entry-form form-group shadow-textarea" action='/user/post' method="post">
    <h3 class="post-header">New Post</h3>
    <br>
    <textarea class="form-control z-depth-1 newpost"name="message" rows="8" cols="100" placeholder="Write something"></textarea>
    <br>
    <button class="btn btn-lg postbutton"type="submit" name="Submit">Post</button>
  </form>

</div>
