<div class="container profile_cont">
	<div class="row">

                <div class="col-lg-6 profile_details">
                    <h2><%=username%></h2>
                    <p class="profile_attr"><strong>About: </strong> <%=about%> </p>
                    <p class="profile_attr"><strong>Email: </strong> <%=email%> </p>

                </div>
                <div class="col-lg-6 text-center">
                    <figure>
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3443/3443461.svg" alt="" class="img-circle img-responsive" width='100'height="100">
                    </figure>
                    <div class="emphasis">
                        <h2><strong><%=posts.length%></strong></h2>
                        <p><small>Posts</small></p>
                    </div>
                </div>

            </div>
	</div>
