#nav{
  padding-bottom: 0;
  padding-left: 2%;
  padding-right: 2%;
  max-height: 250px;
}
.stock{
  margin-left: auto;
  margin-right: auto;
}
.entry{
  text-align: left;
  margin-left: 80px;
  margin-top:1rem;
}
.newpost{
  width: 80%;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.postbutton{
  background-color:#84a9ac;
  color: white;
  border-color: #065c6f;
}
.postbutton:hover{
  background-color: #3b6978;
}

.post-header{
  font-weight: bold;
  padding-bottom:3px;
}

.main{
  padding:1.5rem 0;
}

.post{
  border-radius: 10px;
  border-width: medium;
  margin: 2rem 5rem;
  padding:1rem 1rem;
}
.post-user{
  text-align:left;
  line-height: 2rem;
  font-weight: bold;
  font-size: large;
  background-color: inherit;
  border-width: 0;
  letter-spacing: 2px;
  color: #393b44;
}
.post-message{
  text-align: left;
  line-height: 3rem;
  color: black;
  font-size: x-large;
}
.post-date{
  text-align: right;
}

.posts{
  overflow-y: scroll;
  height: 1230px;
}
.user-link{
  background-color: inherit;
  border-width: 0;
  font-weight: bold;
  font-size: large;
  padding-left: 0;
  letter-spacing: 2px;
  color: #393b44;
}
.nav-feed{
  padding-bottom: 10px;
}
