
.profile
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
.profile_cont{
  padding:1rem 4rem;
  margin-top:0.5rem;
  background-color: #e4e3e3;
  width:75%;
  text-align: left;
  margin-left: 5rem;
  padding-right: 3rem;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 6px;

}
.profile_details{
  text-align: left;
  color: black;
}
.profile_attr{
  color: black;
}

.myposts{
  overflow-y: scroll;
  height: 990px;
}
.del{
  text-align: right;
  color: black;
}
.update{
  background-color: inherit;
  border-width: 0;
}
#updatebutton{
  margin-top: 1rem;
}
.user_header{
display: inline-block;
}

.modal-body{
  background-color: #e4e3e3;
  color: #393b44;
}

.modal-header{
  background-color:#84a9ac;
  color: white;
  border-color: #065c6f;
}
#modal_btn{
  margin-top: 1rem;
}
.inline{
  width:50%;
  display:inline;
}

.del_button{
  width:35px;
  float: right;
  background-color: inherit;
  border-width: 0;
}
.right{
  text-align:right;
}
.del_pos{
  padding-top: 2px;
}
